.01 { color: #89374E; }
.02 { color: #D54F68; }
.03 { color: #E0686A; }
.04 { color: #DE8283; }
.05 { color: #AC7EA2; }
.06 { color: #7A7297; }
.07 { color: #7C80BD; }
.08 { color: #5180AA; }
.09 { color: #XXXXXX; }
.10 { color: #3768B4; }
.11 { color: #487477; }
.12 { color: #217381; }
.13 { color: #XXXXXX; }
.14 { color: #XXXXXX; }
.15 { color: #51B670; }
.16 { color: #2C4E3D; }
.17 { color: #547D2E; }
.18 { color: #8FBA6A; }
.19 { color: #D4CB42; }
.20 { color: #XXXXXX; }
.21 { color: #C95C31; }
.22 { color: #E5A537; }
.23 { color: #DE9D41; }
.24 { color: #XXXXXX; }
.25 { color: #A76C4E; }
.26 { color: #XXXXXX; }
.27 { color: #XXXXXX; }
.28 { color: #A29791; }
.29 { color: #XXXXXX; }
.30 { color: #676975; }
