img {
	max-width: 70ch;
}

.qr, .qr>a {
	color: #EA9999; !important
}

.qo, .qo>a {
	color: #F9CB9C; !important
}

.qy, .qy>a {
	color: #F7DB83; !important
}

.qg, .qg>a {
	color: #B6D7A8; !important
}

.qb, .qb>a {
	color: #A4C2F4; !important
}

.qp, .qp>a {
	color: #B4A7D6; !important
}

b {
	color: #FFFFFF;
}

th {
	color: #B6D7A8;
	font-weight: bold;
	width: 30ch;
}

td {
	color: #FFFFFF;
	width: 7ch;
	padding: 2ch;
	text-align: center;
}
