:root {
	--bg-grey-dk: #1B1B1E;
	--bg-grey-md: #3B3B3E;
	--bg-grey-lt: #585859;

	--text-grey-dk: #807A7B;
	--text-grey-lt: #CFC9CA;

	--harsh-white: #FFFFFF;

	/* Rainbow Pride Theme */
	--accent-p-red: #F1A79F ;
	--accent-p-orange: #EFC68B;
	--accent-p-yellow: #DCD3A3;
	--accent-p-green:  #B2E5BB;
	--accent-p-blue: #B0B8F4;
	--accent-p-purple: #E7C4F0;
	--accent-p-pink: #FFBADB;
}

body {
	background-color: var(--bg-grey-md);
	color: var(--text-grey-lt);
	font-size: 16px;
	font-family: "Lucida Console", Monaco, monospace;
	line-height: 25px;
	margin: 1rem auto;
	max-width: 80ch;
}
body *::selection {
	background-color: var(--bg-grey-lt);
}

a {
	color: var(--accent-p-blue);
	text-decoration: none;
}
a:hover {
	color: var(--harsh-white);
	text-decoration: underline;
}

.bloglink {
	margin-left: 4ch;
}

.blogh {
	margin-left: 1ch;
}

code {
	background-color: var(--bg-grey-dk);
	border-radius: 2px;
	font-family: "Courier New", Courier, monospace;
	padding: 2px;
}

hr {
	border: 0;
	border-bottom: 2px dashed;
	color: var(--text-grey-dk);
}

.hexcode-w {
	border-radius: 2px;
	color: #FFFFFF;
	padding: 2px;
}

.hexcode-b {
	border-radius: 2px;
	color: #000000;
	padding: 2px;

}

pre.eqn, pre.eqn>code {
	background-color: transparent !important;
	text-align: center;
}

blockquote {
	border-left: 2px dashed var(--text-grey-dk);
	margin-left: 2ch;
	padding-left: 2ch;
}

.pr, .pr * {
	color: var(--accent-p-red);
}
.po, .po * {
	color: var(--accent-p-orange);
}
.py, .py * {
	color: var(--accent-p-yellow);
}
.pg, .pg * {
	color: var(--accent-p-green);
}
.pb, .pb * {
	color: var(--accent-p-blue);
}
.pp, .pp * {
	color: var(--accent-p-purple);
}

.pi, .pi * {
	color: var(--accent-p-pink);
}

.white {
	color: var(--harsh-white);
}

.psuedo {
	background-color: var(--bg-grey-dk);
	border-radius: 5px;
	color: var(--harsh-white);
	font-family: "Courier New", Courier, monospace;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 1ch;
	padding-right: 1ch;
	width: 78ch;
}

.space {
	color: transparent;
}

.tab {
	color: transparent;
}

.and, .or {
	font-weight: bold;
}

.if, .fi, .then, .else {
	color: var(--accent-p-yellow);
	font-weight: bold;
}

.for, .rof, .while, .elihw, .do, .to, .done {
	color: var(--accent-p-blue);
	font-weight: bold;
}

.fun, .end {
	color: var(--accent-p-red);
	font-weight: bold;
}

.funname {
	font-style: italic;
}

.string, .string>* {
	color: var(--accent-p-purple) !important;
	font-style: normal !important;
	font-weight: normal !important;
	text-decoration: none !important;
}

.comment, .comment>* {
	color: var(--accent-p-green) !important;
	font-style: normal !important;
	font-weight: normal !important;
	text-decoration: none !important;
}


