h1 {
	text-align: center;
}

#information {
	background-color: rgba( 255,255,255, 0.1 );
	border-radius: 1rem;
	padding: 0.5em 1em;
	margin: 1em;
}

.type-cell {
	background-color: #CCCCCC;
	border-width-radius: 5px;
	width: 11em;
}
.type-link {
	display: block;
	padding: 0.5em;
}
.type-icon {
	height: 2em;
	width: auto;
	padding: 0.25em;
	display: inline-block;
	vertical-align: middle;
}
.type-name {
	padding: 0.25em;
	display: inline-block;
	vertical-align: middle;
}
.type-ital {
	font-weight: bold;
}
.type-engl {
	margin-top: 0;
}

.power {
	display: inline-block;
	vertical-align: middle;
}
.chargebars {
	display: inline-block;
	vertical-align: middle;
}

polygon.acciaio		{ fill: #5a90a9; }
polygon.acqua		{ fill: #5395de; }
polygon.buio		{ fill: #4a4858; }
polygon.coleottero	{ fill: #99c631; }
polygon.drago		{ fill: #0763ad; }
polygon.elettro		{ fill: #f5d13e; }
polygon.erba		{ fill: #63bd52; }
polygon.foletto		{ fill: #ef8dde; }
polygon.fuoco		{ fill: #ff9c52; }
polygon.ghiaccio	{ fill: #71cec2; }
polygon.lotta		{ fill: #e24653; }
polygon.normale		{ fill: #9399a5; }
polygon.psico		{ fill: #f86e76; }
polygon.roccia		{ fill: #c6bd8c; }
polygon.spettro		{ fill: #526bae; }
polygon.terra		{ fill: #d87846; }
polygon.veleno		{ fill: #a567c7; }
polygon.volante		{ fill: #88adde; }
polygon.background	{ fill: #eeeeee; }


.input-layout {
	margin: 0 auto;
	width: 80%;
	display: grid;
	justify-content: center;
	grid-template-columns: 33% 66%;
	gap: 1rem;
	align-items: center;
}

legend, label {
	justify-self: right;
}
.input-error,
#input-size {
	grid-column: span 2;
	justify-self: center;
}
#pick-pokemon {
	box-sizing: border-box;
}
#input-height,
#input-weight {
	width: 10rem;
}
#input-atk,
#input-def,
#input-hp {
	width: 5rem;
	display: inline-block;
	vertical-align: middle;
}


.input-ivs {
	justify-self: left;
	vertical-align: middle;
}

.input-ivs img {
	display: inline-block;
	height: 2rem;
	width: auto;
	vertical-align: middle;
	filter: drop-shadow( 0px 0px 12px rgba(0,0,0,0.2) );
	margin-left: 2rem;
}


input[type=text],
input[type=number] {
	background-color: rgba( 255,255,255,0.7 );
	padding: 0.5rem;
	border-color: transparent;
	border-radius: 0.75rem;
	font-size: 1.5rem;
}

input[aria-invalid=true] {
	background-color: #be796f;
}

.input-error {
	font-weight: bold;
	font-style: italic;
	color: #f8b0b0;
}
label, legend {
	color: var(--pkmn-yellow);
	font-weight: bold;
}

fieldset {
	border: none;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

fieldset * {
	display: inline-block;
}
fieldset div {
	background-color: rgba( 255,255,255,0.7 );
	color: #333333;
	border-radius: 1.5rem;
	padding: 0.75rem;
	vertical-align: center;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
}
#xxs div, #xs div, #xl div, #xxl div {
	font-size: 1.25em;
	border-radius: 2rem;
	padding: 1rem;
}
.size-radio:checked + div {
	background-color: #e0b715;
	color: #FFFFFF;
}
fieldset label * {
	display: block;
	margin: 0 auto;
	text-align: center;
	pointer-events: auto;
}

input[type=radio] {
	position: fixed;
	opacity: 0;
}

button {
	display: block;
	margin: 1rem auto;
	padding: 0.75em;
	background-color: var(--pkmn-red);
	border: none;
	border-radius: 0.5em;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
	text-align: center;
	color: rgba( 255, 255, 255, 0.9 );
	font-size: 1.5rem;;
	font-weight: bold;
}


#pokemon-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.pokemon-card {
	display: inline-block;
	margin: 0.5em;
	color: #000000;
	width: 24rem;
	max-width: 24rem;
	background-color: #D5D5D5;
	border-radius: 1rem;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
	padding-bottom: 0.25rem;
}
.pokemon-card.has-showcase {
	width: 38rem;
	max-width: 38rem;
}

.card-title {
	background-color: var(--pkmn-red);
	color: rgba( 255, 255, 255, 0.9 );
	text-align: center;
	border-radius: 1rem 1rem 0 0;
	margin: 0;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0.75rem;
	vertical-align: center;
	font-size: 1.25em;
	padding: 0.5em;
}
.card-title .form {
	font-size: 0.65em;
	font-weight: normal;
	line-height: 0.8em;
}
.card-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 1em 1em 1em;
	gap: 0.5em;
}
.pokemon-card img {
	width: 65%;
	max-width: 65%;
}
.card-row {
	text-align: center;
}
.card-row * {
	display: inline-block;
	margin: 0 0.5em;
}
.card-row-range {
	font-weight: bold;
}
.card-row-header,
.card-row-subheader {
	color: var(--pkmn-red);
	text-align: center;
	margin-bottom: 0.25em;
	margin-top: 1em;
	line-height: 1em;
	font-size: 1em;
}
.card-row-header.showcase-header {
	font-size: 0.9em;
}
.card-row-error,
.showcase-msg {
	font-style: italic;
	font-size: 0.75em;
	line-height: 1em;
}


.unavailable .card-title {
	background-color: #666666;
	border-bottom-color: #444444;
}
.unavailable img {
	filter: grayscale( 100% );
}
.unavailable .card-row-header {
	color: #5E5E5E;
}

