:root {
	--pkmn-red: #B92808;
	--pkmn-blue: #35507C;
	--pkmn-yellow: #FECA04;
}

body {
	background-color: var(--pkmn-blue);
	color: #E9EFF8;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 1.5rem;
	margin: 1rem auto;
	max-width: 80rem;
}

h1, h2, h3 {
	color: var(--pkmn-yellow);
}

h2, h3 {
	text-align: center;
}

hr {
	border: 1px solid;
	color: #192653;
}

a {
	color: #FECA04;
}

table {
	margin: 1rem auto;
}

td {
	background-color: #C3C3C3;
	color: #000000;
	border-radius: 2px;
	padding: 1ch;
	vertical-align: center;
}

td.link a {
	color: #B92808;
	padding: 1ch;
}

td.link {
	padding: 0;
}

td.link:hover,
td.link:focus {
	background-color: #AAAAAA;
}

td img {
	width: 12pt;
}

th {
	background-color: var(--pkmn-red);
	color: rgba( 255,255,255,0.9 );
	border-radius: 2px;
	padding: 1ch;
}

table:not(.layout) tr:nth-child(even) td {
	background-color: #AAAAAA;
}

div.back-to-top {
	text-align: center;
}

