/*############################## DIAGRAM COLORS ##############################*/
/* These colors are pulled from the draw.io presets                           */

.lpurple {
	color: #E1D5E7;
}
.lblue {
	color: #DAE8FC;
}
.lteal {
	color: #B0E3E6;
}
.lgreen {
	color: #D5E8D4;
}
.lyellow {
	color: #FFF2CC;
}
.lorange {
	color: #FFE6CC;
}
.lred {
	color: #F8CECC;
}
.lpink {
	color: #FFCCE6;
}


.dpurple {
	color: #9673A6;
}
.dblue {
	color: #6C8EBF;
}
.dteal {
	color: #0E8088;
}
.dgreen {
	color: #82B366;
}
.dyellow {
	color: #C6A646;
}
.dorange {
	color: #D79B00;
}
.dred {
	color: #B85450;
}
.dpink {
	color: #FF3399;
}


.hpurple {
	color: #9933FF;
}
.hblue {
	color: #0000FF;
}
.hteal {
	color: #33DDDD;
}
.hgreen {
	color: #00FF00;
}
.hyellow {
	color: #FFFF33;
}
.horange {
	color: #FF9933;
}
.hred {
	color: #FF0000;
}
.hpink {
	color: #FF33F9;
}
