#how-it-works-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
#how-it-works {
	margin: 1rem auto;
}
#how-it-works .card-row {
	text-align: left;
	margin: 0 1em 1em 1em;
}
#how-it-works a {
	color: var( --pkmn-red );
	font-weight: bold;
}
.inline-icon {
	display: inline;
	vertical-align: middle;
	height: 1.1em;
}
.inline-icon.gigantamax-icon {
	filter: var( --filter-gigamax );
}

img.type-icon, img.maxguard-icon, img.maxspirit-icon {
	display: inline-block;
	padding: 0;
	height: 2rem;
	width: auto;
	filter: drop-shadow( 0 0 0.2rem #CCCCCC );
}

.back-to-top a { /* TODO Applies to all GO? */
	text-decoration: none;
	background-color: var(--pkmn-lt-blue-90);
	padding: 0.5em 1em;
	border-radius: 0.25em;
}
.back-to-top a:hover,
.back-to-top a:focus {
	background-color: var(--pkmn-lt-blue-80);
}

nav ul {
	display: grid;
	width: 100%;
	padding: 0;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 0.75em;
	justify-content: center;
	justify-items: stretch;
	align-items: stretch;
}
nav ul li {
	display: block;
}
nav ul li a {
	display: flex;
	height: 100%;
	max-height: 2.5em;
	line-height: 1.25em;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: var( --pkmn-lt-blue-80 );
	text-align: center;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-weight: bold;
}
nav ul li a:hover,
nav ul li a:focus {
	background-color: var( --pkmn-lt-blue-70 );
	color: var(--pkmn-yellow);
}

.weather-radio + div > .weather-name {
	background-color: transparent;
	box-shadow: none;
}
.weather-radio + div > img {
	width: 2em;
	background-color: transparent;
	box-shadow: none;
}
.weather-radio:checked + div {
	background-color: #e0b715;
	color: #FFFFFF;
}
.weather-radio:checked + div > .weather-name {
	background-color: transparent;
	color: #FFFFFF;
}
.weather-radio:checked + div > img {
	background-color: transparent;
	filter: var(--filter-white);
}
.weather-radio:focus + div,
.weather-radio:hover + div {
	background-color: #e9f0fc;
}
.weather-radio:checked:focus + div,
.weather-radio:checked:hover + div {
	background-color: #f0c725;
}

.rank-letter-div {
	display: inline-block;
	border-radius: 0.2em;
	font-weight: bold;
}
.rank-letter-div .plus {
	font-size: 0.75em;
	vertical-align: top;
}

.power-up-icon {
	height: 2.5rem;
}
/*
.rank-s		{ background-color: #FFFFFF; }
.rank-a-p	{ background-color: #FFFFFF; }
.rank-a		{ background-color: #FFFFFF; }
.rank-a-m	{ background-color: #FFFFFF; }
.rank-b-p	{ background-color: #FFFFFF; }
.rank-b		{ background-color: #FFFFFF; }
.rank-b-m	{ background-color: #FFFFFF; }
.rank-c-p	{ background-color: #FFFFFF; }
.rank-c		{ background-color: #FFFFFF; }
.rank-c-m	{ background-color: #FFFFFF; }
.rank-d-p	{ background-color: #FFFFFF; }
.rank-d		{ background-color: #FFFFFF; }
.rank-d-m	{ background-color: #FFFFFF; }
.rank-f		{ background-color: #FFFFFF; }
*/

.typeadv-red-drk-drk {
	background-color: #A62407;
}
.typeadv-red-drk {
	background-color: #B92808;
}
.typeadv-red {
	background-color: #EC5615;
}
.typeadv-red-gray {
	background-color: #BF927E;
}
.typeadv-gray {
	background-color: #999999;
}
.typeadv-green-gray {
	background-color: #78B678;
}
.typeadv-green {
	background-color: #00CC00;
}
.typeadv-green-drk {
	background-color: #159A31;
}
.typeadv-green-drk-drk {
	background-color: #157C31;
}

.type-details-row {
	text-align: left;
}
.type-details-row * {
	display: inline-block;
	vertical-align: middle;
}
.type-details-row .type-icon {
	margin: 0.1em;
}

.weather-icon {
	margin: 0;
}

output {
	width: 100%;
	display: flex;
	justify-content: center;
}

.battle-tier img {
	height: 2.5rem;
	margin: 0.35rem;
	filter: var(--filter-gigamax);
	vertical-align: bottom;
}

.boss-img {
	width: 75%;
	max-width: 75%;
}

.battle-cost {
	color: var(--gigamax);
	margin-top: -0.2rem;
	margin-bottom: 0.5rem;
}
.battle-cost * {
	display: inline-block;
	vertical-align: middle;
}
.battle-cost img {
	filter: var(--filter-gigamax);
	height: 1em;
	margin: 0 0.35em;
}

.catch-cp-row * {
	display: inline-block;
	margin: 0 0.25em;
}
.catch-cp-row img {
	vertical-align: text-top;
	margin: 0 0.1em;
}
.cp-label {
	font-size: 0.9em;
}
.cp-value {
	font-weight: bold;
	font-size: 1.1em;
}

.shiny-icon {
	height: 1em;
	margin: 0 0.25em;
	vertical-align: text-top;
}
.shiny-available-message {
	font-style: italic;
	font-size: 0.9em;
}
.shiny-available-message * {
	display: inline-block;
}

.card-row-note {
	font-style: italic;
}

.stats-div, .ranks-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	gap: 0.5rem;
}
.ranks-cont {
	display: grid;
	grid-template-columns: 3rem 2.5rem;
	align-items: center;
	justify-items: start;
	gap: 0.25rem;
}
.survival-cont {
	grid-template-columns: 4.25rem 2.5rem;
}
.ranks-div .icon,
.ranks-div .type-icon {
	height: 2.5rem;
}
.atk-hl {
	background-color: rgba( 255, 255, 255, 0.4 );
	border-radius: 0.2em;
}
.grd-hl {
	background-color: rgba( 255, 255, 255, 0.4 );
	border-radius: 0.2em;
}
.spt-hl {
	background-color: rgba( 255, 255, 255, 0.4 );
	border-radius: 0.2em;
}
details .stats-div {
	margin: 0 1.5rem;
	justify-content: start;
	gap: 3rem;
}
.stats-label {
	display: inline-block;
	font-size: 0.8em;
	margin: 0;
}
.stats-value {
	display: inline-block;
	font-weight: bold;
	margin-left: 0.5em;
}

.rank-details {
	margin: 1rem 1.5rem;
	display: grid;
	grid-template-columns: 6.25rem auto;
	justify-items: start;
	align-items: start;
	gap: 1rem;
}
.rank-details .ranks-cont {
	grid-template-columns: 3.5rem 2.5rem;
	gap: 0.5rem;
}
.rank-details .type-icon,
.rank-details .maxguard-icon,
.rank-details .maxspirit-icon {
	justify-self: center;
}
.rank-details .power-up-icon {
	justify-self: center;
	height: 2rem;
}
.rank-explanation {
	font-size: 0.9em;
	line-height: 1.5em;
}

.attack-row-grid {
	width: 100%;
	margin: 0.1em 0;
	display: grid;
	grid-template-columns: 2.5rem 1fr 4rem;
	grid-template-areas:
		"type	name	bpwr";
	align-items: center;
}
.boosted-attack-row-grid {
	grid-template-columns: 2.5rem 1fr 7rem 4rem;
	grid-template-areas:
		"type	name	apwr	bpwr";
}
.attack-type {
	grid-area: type;
	justify-self: start;
	width: 1rem;
	height: 1rem;
}
.attack-name {
	grid-area: name;
	justify-self: start;
	text-align: left;
}
.stab-icon {
	display: inline-block;
	height: 1em;
	vertical-align: middle;
	opacity: 0.7;
}
.attack-power {
	justify-self: end;
	grid-area: apwr;
	font-size: 0.9em;
}
.attack-power s {
	opacity: 0.7;
	text-decoration-thickness: 2px;
	margin: 0 0.25em;
	vertical-align: middle;
}
.boost-power {
	grid-area: bpwr;
}

.pokemon-card {
	width: 100%;
	max-width: 65rem;
	margin: 1rem auto;
}
#boss-pokemon-info .pokemon-card {
	width: 100%;
	max-width: 55rem;
	margin: 1rem auto;
}
#boss-pokemon-info .card-col-1 {
	width: 100%;
}
.pokemon-card .inline-icon .gigantamax-icon {
	filter: var(--filter-gigamax );
}


.pokemon-card .pkmn-details {
	width: 100%;
	background: rgba( 0, 0, 0, 0.1 );
	margin: 0.5em 0;

}
.pokemon-card .pokeball-marker {
	filter: var(--filter-pkmn-red);
	opacity: 0.8;
}
.pokemon-card summary:hover,
.pokemon-card summary:focus {
	background-color: #C6C6C6;
}
.pokemon-card .pkmn-summary {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.pokemon-card .pkmn-summary .title {
	flex-grow: 1;
}
.pokemon-card .pkmn-summary .title * {
	display: inline-block;
	vertical-align: middle;
}
.pokemon-card .pkmn-summary .title h4 {
	margin: 0;
}
.pokemon-card .pkmn-summary .sprite {
	height: 1.75em;
	margin: 0 0.5rem;
}
.pokemon-card .pkmn-summary .gigantamax-icon {
	height: 1.5em;
	filter: var(--filter-gigamax);
}

.card-row .weather-icon {
	height: 1.5rem;
}


.card-row-header {
	margin-top: 0.5em;
	margin-bottom: 0;
}
.card-row-header span {
	vertical-align: middle;
}
.card-row-header .type-icon {
	vertical-align: middle;
}
.pokemon-card h4 {
	color: black;
}

.defending-title {
	display: grid;
	grid-template-columns: auto 2.25rem 0.1rem 2.25rem;
	grid-template-areas:
		"heading	powerup	blank	guard";
	gap: 0.5rem;
	width: 100%;
	align-items: center;
	justify-items: center;
}
.defending-title .power-up-icon {
	width: 2.25rem;
	height: auto;
	grid-area: powerup;
}
.defending-title .maxguard-icon {
	margin: 0;
	grid-area: guard;
}
h5 {
	margin: 0;
	color: var(--pkmn-red);
	justify-self: start;
}
.da-div-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	gap: 1em;
	margin: 0 2rem;
}
.da-div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.max-cont {
	width: 100%;
	margin: 0;
}
.defend-grid, .max-grid, .fast-grid {
	width: 100%;
	margin: 0.25rem 0;
	display: grid;
	align-items: center;
	gap: 0.5rem;
}
.defend-grid {
	grid-template-columns: 2rem auto 2.25rem 0.1rem 2.25rem;
	grid-template-areas:
		"cicon	cname	srv	blank	grd";
}
.max-grid {
	grid-template-columns: 2rem auto 2.25rem;
	grid-template-areas:
		"micon	mname	srv";
	width: 100%;
}
.fast-grid {
	grid-template-columns: 2rem 2rem auto 6rem;
	grid-template-areas:
		"ficon	ficon	fname	eps";
}
.charge-fast-grid {
	grid-template-columns: 2rem auto 6rem;
	grid-template-areas:
		"ficon	fname	eps";
}
.defend-grid .charge-icon {
	grid-area: cicon;
	justify-self: end;
}
.max-grid .max-icon {
	grid-area: micon;
	justify-self: end;
}
.fast-icon {
	grid-area: ficon;
	justify-self: end;
	width: 1rem;
	height: 1rem;
}
.charge-fast-grid .fast-icon {
	justify-self: center;
}
.charge-attack {
	grid-area: cname;
}
.max-attack {
	grid-area: mname;
	font-weight: bold;
	text-align: start;
}
.gmax-attack {
	color: var(--gigamax);
}
.fast-attack {
	grid-area: fname;
	text-align: start;
	font-size: 0.9em;
}
.fast-attack img {
	display: inline-block;
	height: 1em;
	vertical-align: text-top;
	margin-left: 0.5em;
}
.defend-grid .rank, .max-grid .rank {
	display: inline-block;
	border-radius: 0.25em;
	margin: 0;
	justify-self: center;
	font-weight: bold;
}
.defend-grid .rank {
	display: block;
}
.defend-grid .rank-srv {
	grid-area: srv;
}
.defend-grid .rank-grd {
	grid-area: grd;
}
.sec {
	grid-area: eps;
	margin: 0;
	text-align: center;
}
.sec .value {
	display: inline-block;
	margin: 0;
}
.sec .unit {
	display: inline-block;
	font-size: 0.6em;
	margin-left: 0.5em;
}


.power-up-costs {
	margin: auto;
	padding-bottom: 1.5rem;
}
.power-up-costs th {
	padding: 0.25em 0.75em;
	border-radius: 0.25em;
	font-size: 0.9em;
	background-color: #b93e23;
}
.power-up-costs td {
	text-align: center;
	border-radius: 0.25em;
	background-color: #ADADAD;
}
.power-up-costs .icon {
	display: inline-block;
	height: 1em;
	margin-left: 0.5em;
	vertical-align: text-top;
}


