/** GRID **/

body {
	width: 100%;
	max-width: 100%;
	display: grid;
	grid-template-columns: 30% 70%;
}

#sidebar {
	overflow: auto;
}

main {
	overflow-y: scroll;
}

/** SIDE BAR **/

#sidebar h2 {
	font-size: 1.5rem;
}

.link-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.sidebar-link {
	display: flex;
	width: 15rem;
	max-width: 15rem;
	max-height: 5rem;
	background-color: var(--pkmn-lt-gray);
	border-radius: 0.5rem;
	margin: 0.25rem;

	color: var(--pkmn-red);
	justify-content: center;
	align-content: center;
	text-align: center;
	font-size: 1.25rem;
	line-height: 1.25em;
	font-weight: bold;
	text-decoration: none;
}

.sidebar-link:hover,
.sidebar-link:focus {
	background-color: #E5E5E5;
	color: #EC5615;
	text-decoration: underline;
}

.series-icon {
	margin: 1rem;
	max-width: 13rem;
	max-height: 3rem;
}

.sidebar-link-text {
	margin: 0.75rem;
	max-width: 13.5rem;
	max-height: 3.5rem;
}

.sidebar-link-letter {
	max-width: 5rem;
}
.sidebar-link-letter img {
	margin: 1rem;
	max-width: 3rem;
	height: 3rem;
	max-height: 3rem;
}

#completion-key, #expansion-key {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

#completion-key .set-link,
#expansion-key .set-link {
	width: 14rem;
}

/** HEADER **/

h1 {
	text-align: left;
}

/********* NAVIGATION ***/
.set-nav {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 2rem;
	justify-content: center;
	align-content: flex-start;
}

.set-link {
	width: 19rem;
	height: 4rem;
	border-radius: 0.5rem;
	margin: 0.25rem;
	display: grid;
	grid-template-columns: 3rem auto 1.5rem;
	padding: 0.5rem 0.75rem;
	gap: 0.75rem;
	align-items: center;

	background-color: var(--pkmn-lt-gray);
	color: var(--pkmn-red);
	text-decoration: none;
}

.set-nav .set-link:hover,
.set-nav .set-link:focus {
	background-color: #E5E5E5;
	color: #EC5615;
	text-decoration: underline;
}

.set-link.empty-set {
	background-color: #909090;
	color: #444444;
	font-weight: normal;
	font-style: italic;
}
.set-nav .set-link.empty-set:hover,
.set-nav .set-link.empty-set:focus {
	background-color: #909090;
	color: #444444;
	text-decoration: none;
}

.set-link.complete-set {
	background-color: var(--pkmn-red);
	color: var( --pkmn-white-red );
}
.set-nav .set-link.complete-set:hover,
.set-nav .set-link.complete-set:focus {
	background-color: var(--pkmn-bright-red);
	color: var( --pkmn-white-red );
}

.set-link-icon {
	display: inline-block;
	max-width: 3rem;
	max-height: 3rem;
	justify-self: center;
}
.empty-set .set-link-icon {
	filter: contrast(50%);
}

.set-link-text {
	display: inline-block;
	font-size: 1rem;
	line-height: 1.5em;
	justify-self: start;
}
.set-link-title {
	font-weight: bold;
	font-size: 1.25em;
}
.set-link-subtitle {
	font-style: italic;
}

.set-link-markers {
	align-self: start;
	justify-self: center;
}
.set-marker {
	width: 1.5rem;
	height: auto;
}

/*********************** SET TABLES **********************/
td {
	color: #000000;
	border-radius: 2px;
	padding: 1rem;
}
th {
	background-color: var(--pkmn-red);
	color: rgba( 255,255,255,0.9 );
	border-radius: 2px;
	padding: 1ch;
}



td.set-num {
	text-align: center;
	vertical-align: center;
}
td.set-num * {
	display: inline-block;
}

td.name {
	text-align: left;
	vertical-align: center;
}
td.name * {
	display: inline-block;
}

td.rarity {
	text-align: center;
	vertical-align: center;
}
td.rarity img {
	height: 1.5em;
	width: auto;
}

td.type {
	text-align: center;
	vertical-align: center;
}

td.type img {
	filter: drop-shadow( 0px 0px 8px #FFFFFF ) drop-shadow( 0 0 2px #FFFFFF) ;
	width: 30px;
}

td.Dark		{  background: radial-gradient( circle at center, #2b6c7e 20px, #183c3f ); }
td.Steel	{  background: radial-gradient( circle at center, #89a0ab 20px, #5a6b6b ); }
td.Dragon	{  background: radial-gradient( circle at center, #dcc226 20px, #978628 ); }
td.Electric	{  background: radial-gradient( circle at center, #fed512 20px, #fcae19 ); }
td.Fairy	{  background: radial-gradient( circle at center, #e7548d 20px, #a5185a ); }
td.Grass	{  background: radial-gradient( circle at center, #28ab47 20px, #008341 ); }
td.Water	{  background: radial-gradient( circle at center, #07abe6 20px, #067bbe ); }
td.Fire		{  background: radial-gradient( circle at center, #e74530 20px, #c81835 ); }
td.Fighting	{  background: radial-gradient( circle at center, #c97b2f 20px, #783917 ); }
td.Psychic	{  background: radial-gradient( circle at center, #a05691 20px, #6c4d7d ); }
td.Normal	{  background: radial-gradient( circle at center, #8d8f87 20px, #67634f ); }
td.SingleStrike	{ background: radial-gradient( circle at center, #6d3744 20px, #382223 ); }
td.RapidStrike	{ background: radial-gradient( circle at center, #508aae 20px, #1d425c ); }

td.DarkSteel {
	background:
		radial-gradient( circle at 100%, transparent, 90%, #183c3f ),
		radial-gradient( circle at 0%, transparent, 90%, #5a6b6b ),
		linear-gradient( to right, #2b6c7e, #89a0ab );
}
td.ElectricGrass {
	background:
		radial-gradient( circle at 100%, transparent, 90%, #fcae19 ),
		radial-gradient( circle at 0%, transparent, 90%, #008341 ),
		linear-gradient( to right, #fed512, #28ab47 );
}
td.FairyWater {
	background:
		radial-gradient( circle at 0%, transparent, 90%, #067bbe ),
		radial-gradient( circle at 100%, transparent, 90%, #a5185a ),
		linear-gradient( to right, #e7548d, #07abe6 );
}
td.GrassFire {
	background:
		radial-gradient( circle at 0%, transparent, 90%, #c81835 ),
		radial-gradient( circle at 100%, transparent, 90%, #008341 ),
		linear-gradient( to right, #28ab47, #e74530 );
}
td.GrassDark {
	background:
		radial-gradient( circle at 0%, transparent, 90%, #183c3f ),
		radial-gradient( circle at 100%, transparent, 90%, #008341 ),
		linear-gradient( to right, #28ab47, #2b6c7e);
}
td.DoubleColorless	{
	background: linear-gradient( to top, #8d8f87 50%, transparent),
	linear-gradient( to right, #8d8f87, 2%, #c6764f, 20%, #f4d64a, 35%, #8888ab, 50%, #e3865a, 65%, #c4cc56, 80%, #d991a1, 95%, #8d8f87);
}

td.Rainbow {
	background:
		radial-gradient( circle at 50% 50%, transparent, 85%, rgb( 0 0 0 / 30% ) ),
		conic-gradient( #00a5d9, #006b4d, #97c145, #f3dc10, #e59341, #b01a48, #974782, #405294, #00a5d9 );
}

td.trainertext {
	font-weight: bold;
	font-style: italic;
	text-shadow:
		-1px -1px 0 #FFFFFF,
		-1px  1px 0 #FFFFFF,
		 1px -1px 0 #FFFFFF,
		 1px  1px 0 #FFFFFF;
}

td.Item, td.Strumento {
	color: #025FA9;
}

td.Supporter, td.Aiuto {
	color: #CF4226;
}

td.Stadium {
	color: #4FAC3F;
}

td.Tool, td.Oggetto {
	color: #6e55a4;
}

td.pack {
	padding: 0.5rem;
	text-align: center;
}
td.pack img {
	max-height: 3.25rem;
}
