body {
	margin: 1rem auto;
	max-width: 80rem;
	line-height: 1.5em;
	padding: 1rem;
}

p {
	margin-bottom: 1.125em;
	margin-top: 1.125em;
}

div.centered {
	text-align: center;
}

th.col-left,
td.col-left {
	text-align: left;
}

th.col-center,
td.col-center {
	text-align: center;
}

th.col-right,
td.col-right {
	text-align: right;
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

summary {
	cursor: pointer;
}
