/*
Basic color scheme:
pastel and rainbow uwu




*/
/**********************************MAIN DIVS***********************************/
@font-face 
{
    font-family: "centurygothic";
    src: url("centurygothic.ttf");
}

body
{
    background-color: #EFF2F8;
    font-family: "centurygothic";
    padding: 3%;
    text-align: center;
}

body > div
{
    border-color: #000000;
    border-radius: 10px;
    border-style: none;
    border-width: 3px;
    display: inline-block;
    height: 80vh;
    max-height: 80vh;
    min-height: 80vh;
    vertical-align: top;
}

#main
{
    background-color: #92A8D3;
    width: 45%;
}

#links
{
    background-color: rgba(0,0,0,0);
    overflow-y: hidden;
    text-align: center;
    width: 15%;
}

/***********************************LINK DIV***********************************/
#me
{
    border-color: #000000;
    border-style: none;
    border-radius: 10px;
    margin: 5%;
    margin-bottom: 2%;
    width: 80%;
}

#myName
{
    font-size: 15pt;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 8px;
}

#linkPart
{
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.imgC
{
    text-align: center;
}

.imgC img
{
    width: 60%;
}

button
{
    background-color: rgba(0,0,0,0);
    border-style: none;
    border-radius: 10px;
    color: #000000;
    display: block;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}

.insideLink
{
    background-color: rgba(0,0,0,0);
    border-style: none;
    border-radius: 10px;
    color: #000000;
    display: block;
    font-family: "centurygothic";
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}

#butt0
{
    font-family: "centurygothic";
    margin-top: 5px;
    background-color: #6080C0;
}

#butt1
{
    background-color: #6D8AC5;
    font-family: "centurygothic";
}

#butt2
{
    background-color: #7F99CC;
    font-family: "centurygothic";
}

#butt3
{
    background-color: #92A8D3;
    font-family: "centurygothic";
}

#butt4
{
    background-color: #B6C5E2;
    font-family: "centurygothic";
}

#butt5
{
    background-color: #C8D3E9;
    font-family: "centurygothic";
}
/*********************************CONTENT DIV*********************************/
#mainContent
{
    height: 85%;
    overflow-y: scroll;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: left;
}
#mainContent::-webkit-scrollbar 
{
    width: 0;
    height: 0;
}

/**************Resume***************/
embed
{
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}


/******Professional Experience******/
.experience
{
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 14pt;
    margin: 20px;
    padding: 8px;
    position: relative;
}

.expTitle
{
    font-size: 15pt;
    font-weight: bold;
}

.expLoc
{
    font-style: italic;
}

.expLocLoc
{
    font-style: italic;
    position: absolute;
    right: 12px;
}

.expDate
{
    position: absolute;
    right: 12px;
}

.expP
{
    margin-left: 20px;
}

/*************Projects*************/
.project
{
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 14pt;
    margin: 20px;
    padding: 8px;
    position: relative;
}

.projTitle
{
    font-size: 15pt;
    font-weight: bold;
}

.projSkill
{
    font-style: italic;
}

