:root {
	--bg-grey-dk: #1B1B1E;
	--text-grey-dk: #807A7B;}

pre {
	max-width : 80ch;
	padding-left: 1ch;
	padding-top: 1ch;
	padding-bottom: 1ch;
	background-color: var(--bg-grey-dk);
}

table {
	margin: 1rem auto;
}

td {
	border: 2px dashed var(--text-grey-dk);
	padding-left: 2ch;
	padding-right: 2ch;
	text-align: center;
}

img {
	margin: 1rem auto;
	margin-bottom: 0;
	max-width: 60ch;
}

.caption {
	margin-top: 0;
	padding-top: 0;
}

.caption > code {
	font-style: normal; !important
}
